/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body {
    font-family: 'Fredoka', sans-serif;
}

img {
    height: 100px;
    width: auto;
    float: left;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #52ADDD;
}

h3 {
    margin-top: 17px;
    color: white;
}

.role {
    margin: 5px 0;
    color: #D3D2D3;
}
/*UTILS*/
.container {
    max-width: 1725px;
    margin: 0 auto;
}

/*HEADER*/

h1 {
    color: #E43170;
    font-size: 40px;
    font-weight: 700;
}

header, #text {
    margin: 60px;
    text-align: center;
}

#text {
    font-size: 1.3rem;
}

/*MAIN*/

.column {
    float: left;
    width: calc(100% / 3);
    background-color: black;
}
