/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body {
    font-family: 'Fredoka', sans-serif;
}

/*UTILS*/
.container {
    max-width: 1725px;
    margin: 0 auto;
    /*color: white;*/
}

img {
    height: 100px;
    width: auto;
    float: left;

}

/*HEADER*/

h1 {
    color: #E43170;
    font-size: 40px;
    font-weight: 700;
}

header, #text {
    margin: 60px;
    text-align: center;
}

#text {
    font-size: 1.3rem;
}

/*MAIN*/

.column {
    float: left;
    width: calc(100% / 3);
}

