/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body {
    font-family: 'Fredoka', sans-serif;
}

/*UTILS*/
.container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

/*HEADER*/

h1 {
    color: #E43170;
    font-size: 40px;
    font-weight: 700;
}

header {
    margin: 40px;
}

/*MAIN*/

#text {
    font-size: 1.3rem;
}